<div class="container">
  <div class="row">
    <div class="col-md-12">
    
      <% if current_user %>
        <%= link_to 'New note', new_note_path %> 
        <%= link_to('Log out', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to 'Log in', new_user_session_path %>
      <% end %>
    </div>

    <div class="col-md-6">
      <p class="text-center">List of Users</p>

      <% @users.each do |u| %>

        <%= u.name %>
        <% if current_user %>
          <% if @following_array.include?(u.id)%>
            <%= form_tag unfollow_notes_path, method: :post do %>
            <%= hidden_field_tag :follow, current_user.id %>
            <%= hidden_field_tag :following, u.id %>
              <% if u.id != current_user.id %>
                <%= submit_tag 'Unfollow', class: "following-button" %>
              <% end %>
            <% end %>
          <% else %>
            <%= form_tag follow_notes_path, method: :post do %>
            <%= hidden_field_tag :follow, current_user.id %>
            <%= hidden_field_tag :following, u.id.to_s %>
              <% if u.id != current_user.id %>
                <%= submit_tag 'Follow', class: "follow-button" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        </br>

      <% end %>      

    </div>

    <div class="col-md-6">
      <% if current_user %>
        <p class="text-center">My notes and notes from users that I am following</p>
      <% else %>
        <p class="text-center">All Notes</p>
      <% end %>

      <% @notes.each do |n| %>

        <strong>User: </strong> <%= n.user_id %></br>
        <strong>Title:</strong> <%= n.title %></br>
        <strong>Body:</strong> <%= n.body %></br>
        <% if current_user %>
        
          <% counter = 0 %>
          <% @likes.each do |l| %>

            <% counter += 1 if n.id == l.note_id%>

          <% end %>
          Number of likes: <%= counter %>

        <%= link_to 'Like', like_notes_path(n), method: :post %>
        <%= link_to 'Unlike', unlike_notes_path(n), method: :post %>
        
          <% if current_user.id == n.user_id %>
            <%= link_to 'Edit', edit_note_path(n) %>
            <%= link_to 'Delete', note_path(n), method: :delete, data: { confirm: 'Confirm?'} %>
          <% end %>
        <% end %></br></br>
      <% end %>
    
    </div>
  </div>
</div>

